.btn {
  &:link,
  &:visited {
    border-radius: 10rem;
    padding: 1.5rem 4rem;
    text-decoration: none;
  }

  &--white {
    background-color: $white;
    color: $minsk;
    font-size: $m-font;
    font-weight: 600;
  }
}