.coin-cart {
  background-color: $white;
  border-radius: 5px;
  display: flex;
  padding: 2rem;
  width: 100%;


  &-selection {
    margin-right: 5rem;
  }

  &__row {
    align-items: center;
    border: 1px solid transparent;
    border-bottom-color: $athens-gray;
    justify-content: space-between;
    display: flex;
    padding: 4rem 0;
    width: 60rem;
  }

  &__crypto-img-box {
    height: 7rem;
    position: relative;
    width: 7rem;
  }

  &__crypto-info {
    width: 16.2rem;
  }

  &__crypto-input-box {
    width: 17.3rem;
  }

  &__img {
    position: absolute;
      top: 50%;
    transform: translateY(-50%);
    width: 7rem;
  }

  &__crypto-name {
    color: $minsk;
    font-size: $l-font;
    font-weight: 500;
  }

  &__crypto-price {
    color: $boulder;
    font-size: $d-font;
  }

  &__input {
    border: 1px solid lighten($boulder, 30%);
    border-radius: 5px;
    color: $minsk;
    font-family: inherit;
    font-size: $d-font;
    margin: 0 2rem;
    padding: 1rem 2rem;
    text-align: center;
    transition: all .3s;
    width: 7rem;

    &:focus {
      border-color: $minsk;
      outline: none;
    }
  }

  &__math-btn {
    background-color: transparent;
    border-radius: 50%;
    color: lighten($boulder, 20%);
    cursor: pointer;
    font-size: $s-font;
    padding: 1rem;
    transition: all .3s;

    &:hover {
      background-color: $athens-gray;
      color: $minsk;
    }

    &:active {
      background-color: darken($athens-gray, 10%);
    }
  }

  &__line-total {
    width: 11.1rem;
  }

  &__line-total__number {
    font-size: $m-font;
  }
}