.section-get-started {
  margin: 0 auto;
  padding: 0 4rem;
  width: $grid-width;

  @include respond-1140-width {}

  .heading--secondary {
    color: $minsk;
    font-size: $xxl-font;
    font-weight: 600;
  }

  .heading--sub {
    color: $boulder;
    font-size: $l-font;
  }

  .get-started-cards {
    counter-reset: get-started-counter;
    display: flex;
    justify-content: space-around;

    @include respond-700-width {
      flex-direction: column;
      align-items: center;
    }

    &__card {
      position: relative;
      width: 25rem;

      &:not(:last-child) {
        margin-bottom: 5rem;
      }

      &::before {
        color: lighten($manatee, 20%);
        content: '0' counter(get-started-counter);
        counter-increment: get-started-counter;
        font-size: $xl-font;
        position: absolute;
          top: 0;
          left: 0;
        transform: rotate(-90deg);
      }
    }

    &__img {
      width: 10rem;

      &--line {
        width: 7rem;
      }
    }

    &__line-container {
      margin-top: 4rem;
    }

    &__text {
      color: $minsk;
      font-size: $m-font;
      font-weight: 600;
    }
  }
}