.section-benefits {
  margin: 0 auto;
  width: $grid-width;

  &__heading-secondary {
    color: $east-bay;
    font-size: $xxl-font;
    font-weight: 600;
  }

  &__heading-sub {
    color: $boulder;
    font-size: $l-font;
  }

  &__cards {
    display: flex;
    justify-content: space-around;

    &__card {
      border-radius: 1rem;
      -webkit-box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
              box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.15);
      padding: 2rem;
      text-align: center;
      width: 32rem;

      .benefit-card-img {
        width: 10rem;
      }

      .benefit-card-title {
        color: $east-bay;
        font-size: $l-font;
        font-weight: 600;
      }

      .benefit-card-info {
        color: $boulder;
        font-size: $d-font;
      }
    }
  }
}