.section-achievements {
  background: linear-gradient(to bottom right, lighten($minsk, 10%), $minsk);

  .stats-container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 4rem;
    width: $grid-width;

    @include respond-1140-width {}

    @include respond-400-width {
      align-items: center;
      flex-direction: column;
    }
  }

  .stat {
    text-align: center;
    width: 24.1rem;

    &:not(:last-child) {
      @include respond-400-width {
        margin-bottom: 3rem;
      }
    }

    &--primary {
      color: $aquamarine;
      font-size: $xxl-font;
      font-weight: 700;
    }

    &--secondary {
      color: $white;
      font-size: $m-font;
    }
  }
}