.nav-wrapper {
  background-color: transparent;
  padding: 2rem;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.nav {
  margin: 0 auto;
  width: $grid-width;

  &__link, &__link:active {
    border: 1px solid transparent;
    border-radius: 5px;
    color: $white;
    font-size: $d-font;
    padding: 1rem;
    text-decoration: none;
  }

  &__link:not(:last-child) {
    margin-right: 2rem;
  }
}

.is-active {
  border-color: $white;
}