// COLORS
$athens-gray: #EFF0F2;
$aquamarine: #74F8FF;
$biloba-flower: #E28AED;
$boulder: #7c7c7c;
$east-bay: #424071;
$heliotrope: #9562FF;
$mako: #41434B;
$manatee: #8D8F97;
$minsk: #3C3084;
$white: #FEFEFF;

// FONTS
$s-font: 1.3rem;
$d-font: 1.6rem;
$m-font: 1.9rem;
$l-font: 2.2rem;
$lr-font: 2.6rem;
$xl-font: 3rem;
$xxl-font: 4rem;
$xxxl-font: 5rem;
$huge-font: 10rem;

// GRID
$grid-width: 114rem;
